.h2-custom{
    font-family: "Playfair Display", serif;
    font-weight: bold;

}

.nav-h1-custom{
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 36px;

}
.p-custom{
    font-family: "Lato", sans-serif;
}